MoviePowerApp/pkgs/Wadl/OmdbAPI-Get.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://canada-001.azure-apim.net/apim/omdbapi-2dget-5f3563bec82f40ad64-5f920f0133bd5c7588" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="OmdbAPI-Get" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="OmdbAPI-Get"></doc>
  <grammars>
    <jsonTypes targetNamespace="https://canada-001.azure-apim.net/apim/omdbapi-2dget-5f3563bec82f40ad64-5f920f0133bd5c7588" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="OmdbGet_responses_default_def_Title_def" />
      <string name="OmdbGet_responses_default_def_Year_def" />
      <string name="OmdbGet_responses_default_def_Rated_def" />
      <string name="OmdbGet_responses_default_def_Released_def" />
      <string name="OmdbGet_responses_default_def_Runtime_def" />
      <string name="OmdbGet_responses_default_def_Genre_def" />
      <string name="OmdbGet_responses_default_def_Director_def" />
      <string name="OmdbGet_responses_default_def_Writer_def" />
      <string name="OmdbGet_responses_default_def_Actors_def" />
      <string name="OmdbGet_responses_default_def_Plot_def" />
      <string name="OmdbGet_responses_default_def_Language_def" />
      <string name="OmdbGet_responses_default_def_Country_def" />
      <string name="OmdbGet_responses_default_def_Awards_def" />
      <string name="OmdbGet_responses_default_def_Poster_def" />
      <string name="OmdbGet_responses_default_def_Ratings_def_items_def_Source_def" />
      <string name="OmdbGet_responses_default_def_Ratings_def_items_def_Value_def" />
      <object name="OmdbGet_responses_default_def_Ratings_def_items_def">
        <property name="Source" type="string" />
        <property name="Value" type="string" />
      </object>
      <array typeRef="OmdbGet_responses_default_def_Ratings_def_items_def" name="OmdbGet_responses_default_def_Ratings_def" />
      <string name="OmdbGet_responses_default_def_Metascore_def" />
      <string name="OmdbGet_responses_default_def_imdbRating_def" />
      <string name="OmdbGet_responses_default_def_imdbVotes_def" />
      <string name="OmdbGet_responses_default_def_imdbID_def" />
      <string name="OmdbGet_responses_default_def_Type_def" />
      <string name="OmdbGet_responses_default_def_DVD_def" />
      <string name="OmdbGet_responses_default_def_BoxOffice_def" />
      <string name="OmdbGet_responses_default_def_Production_def" />
      <string name="OmdbGet_responses_default_def_Website_def" />
      <string name="OmdbGet_responses_default_def_Response_def" />
      <object name="OmdbGet_responses_default_def">
        <property name="Title" type="string" />
        <property name="Year" type="string" />
        <property name="Rated" type="string" />
        <property name="Released" type="string" />
        <property name="Runtime" type="string" />
        <property name="Genre" type="string" />
        <property name="Director" type="string" />
        <property name="Writer" type="string" />
        <property name="Actors" type="string" />
        <property name="Plot" type="string" />
        <property name="Language" type="string" />
        <property name="Country" type="string" />
        <property name="Awards" type="string" />
        <property name="Poster" type="string" />
        <property name="Ratings" typeRef="OmdbGet_responses_default_def_Ratings_def" />
        <property name="Metascore" type="string" />
        <property name="imdbRating" type="string" />
        <property name="imdbVotes" type="string" />
        <property name="imdbID" type="string" />
        <property name="Type" type="string" />
        <property name="DVD" type="string" />
        <property name="BoxOffice" type="string" />
        <property name="Production" type="string" />
        <property name="Website" type="string" />
        <property name="Response" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://canada-001.azure-apim.net/apim/omdbapi-2dget-5f3563bec82f40ad64-5f920f0133bd5c7588">
    <resource path="/{connectionId}/">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="OmdbGet" actionName="OmdbGet" siena:isDeprecated="false">
        <doc title="OmdbGet" />
        <request>
          <param style="query" name="apikey" type="xs:string" />
          <param style="query" name="i" type="xs:string" />
          <param style="query" name="plot" type="xs:string" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:OmdbGet_responses_default_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_omdbapi-2dget-5f3563bec82f40ad64-5f920f0133bd5c7588" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>